extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Jaichand Mulakalapalli
  - let items = results
  div(class="container-fluid")
    div(class="row m-1")
      each cars, index in items
        - let destination = `dispatch(\"/cars/update?id=${cars._id}\")`
        div(class="row-sm-2 m-1" onclick=`buy(${index+1})`) #{cars.car_brand} - #{cars.car_color} - $#{cars.car_cost}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  
  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }
    function dispatch(path){
      window.location.href=path
    }